body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: white;
}

header {
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid rgba(255, 255, 255, 0.2); /* Border color to match portfolio theme */
    box-shadow: 0 4px 32px rgba(31, 38, 135, 0.37); /* Glassmorphism effect */
}

.profile-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.header-text {
    text-align: left;
}

.header-text h1 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-text p {
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p, ul, li {
    font-size: 1.2em;
    list-style: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.project-item img, .experience-item img, .certificate-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
}

.glass-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: black;
    text-align: center;
    background-color: #f9f9f9;
}
.glass-container:hover{
    background-color: #f2f2f2;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
    color: white;
}

#projects, #certificates, #experience, #skills, #education, #contact {
    padding: 50px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px;
}

/* Media Query for screens up to 768px */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-text h1 {
        font-size: 2em;
    }

    .header-text p {
        font-size: 1.1em;
    }

    .glass-container {
        padding: 15px;
        margin: 15px;
    }

    h2 {
        font-size: 1.8em;
    }

    p, ul, li {
        font-size: 1.1em;
    }

    .carousel {
        width: 90%;
    }
    .project-item img, .experience-item img, .certificate-item img{

        height: 100px;
    }
}

/* Media Query for screens up to 480px */
@media (max-width: 480px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-image img {
        width: 120px;
        height: 120px;
    }
    .project-item img, .experience-item img, .certificate-item img{

        height: 80px;
    }
    .header-text h1 {
        font-size: 1.8em;
    }

    .header-text p {
        font-size: 1em;
    }

    .glass-container {
        padding: 10px;
        margin: 10px;
    }

    h2 {
        font-size: 1.5em;
    }

    p, ul, li {
        font-size: 1em;
    }

    .carousel {
        width: 100%;
    }

    footer {
        padding: 15px 0;
        margin: 10px;
    }
}